[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	ignore = dirty
[submodule "external/asar"]
	path = external/asar
	url = https://github.com/RPGHacker/asar.git
	ignore = dirty
[submodule "external/utf8"]
	path = external/utf8
	url = https://github.com/nemtrif/utfcpp.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
